/* declare styles for 
- the body background-color
- the color inside headings
- the border and margin of all img tags
*/
body {
    background-color: antiquewhite;
}

h2,
h3,
h4 {
    color: darkolivegreen;
}

img {
    border: 12px solid #369;
    margin: 8px;
}
/* declare a class style called .highlight which makes content stand out
    For example choose a background-color and color
    Manually apply this style in a few places within the document
*/
.highlight {
    background-color: aquamarine;
    color: darkgoldenrod;
}
/* declare an id style called #monitor
   set the font-family however you like
   manually apply this to your arbitrary content */
#monitor {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* If you like, continue to explore CSS */